:not(:defined) {
  visibility: hidden;
}

/* Utility: generic hidden helper */
.hidden {
    display: none !important;
}

/* Utility: invisibility without affecting layout */
.invisible {
    visibility: hidden !important;
}

/* Utility: no display helper */
.nodisplay {
    display: none;
}

/* Utility: base container styles */
.base-container {
    background-color: var(--sl-color-neutral-0);
    color: var(--sl-color-neutral-1000);
    font-family: var(--sl-font-sans);
    padding: 1em;
    margin: -1em;
}
